// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: rgb(0, 153, 255);
$light-blue: rgba(0, 153, 255, 0.70);
$violet: rgb(153, 0, 255);
$light-violet: rgba(153, 0, 255, .3);
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #FDFDFD;
