.navbar-lewagon {
  justify-content: center;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;

  .container {
    justify-content: space-around;
  }

  i {
    width: 4rem;
    font-size: 2rem;
  }
}

.navbar-nav {
  justify-content: center !important;
}
