.navbar-lewagon {
  background: $light-gray;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;

  i {
    width: 4rem;
    font-size: 2rem;
  }
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
