.colloc-title {
  font-weight: bolder;
  background: -webkit-linear-gradient(0deg, rgb(153, 0, 255), rgb(87, 30, 255), rgb(0, 153, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
